body{
  font-family: 'Poppins', sans-serif; 
}

.results{
  margin-top: 15px;
}
.results button{
  margin-left: 15px;
}
.jumbotron{
  min-height: 200px;
}
.jumbo{
  animation: App-logo-spin infinite 5s linear;
}


@keyframes App-logo-spin {
  0% { transform: rotate(0deg);
  font-size: 1em;
  color: white; }
  50% { transform: rotate(360deg);
  font-size: 1.5em;
  color: gray; }
  100%{
    transform: rotate(720deg);
  font-size: 1em;
  color: white;
  }
}
